html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family:tahoma,verdana,arial;font-size:13px;margin:0;padding:0;
	background: white;
	height: 100%;
}

main {
	height: 100%;
}

h1 {margin:0 0 0.5em 0;padding: 4px 5em 4px 4px;font:bold large sans-serif;}

/* warning message for touch screen to desktop */
.msg-desktop {
	display: none;
    text-align: center;
    top: 50%;
    position: fixed;
    width: 100%;
    z-index: 3;
}

@media (hover: none) {
	.msg-desktop {
		display: block;
	}
}

/* fade in content after loading */

.loading .content {
	opacity: 0;
}

.content {
	transition: opacity 0.3s;
	opacity: 1;
}

/* canvas container */

#canvas-container {
	position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    padding-top: 56.25%;
    max-width: 100%;
    left: 50%;
    display: block;
}

@media (hover: none) {
	#canvas-container {
		visibility: hidden;
		overflow: hidden;
	}
}

@media only screen and (min-width: 960px) {
	#canvas-container {
	    padding-top: 0;
	    width: 960px;
	    height: 540px;
	}
}

#canvasParent {
	visibility: hidden;
	position: absolute;
	/* hide off screen. needed for calculations */
 	top: -100vh;
    left: -100vw;
}

#container-cells {
	width: 100%;
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    top: 0;
    height: 100%;
}
	
#container-cells canvas {
    top: 10%;
    left: 10%;
    position: absolute;
    width: 80%;
}

button.reset:hover {
	opacity:1;	
}

video {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 0;
	margin-left: -480px;
}

video.small {
	position: fixed;
	bottom:auto;
	left:auto;
	right: 10px;
	top: 10px;
	z-index: 0;
	width: 80px!important;
	height: 80px!important;
}


/* demo 1 */

.demo-1 a.demo {
	color: #FFF;
}

.demo-1 a.demo:hover {
	color: #000;
}

.demo-1 .content {
	transition: opacity 0s;
}

.demo-1 video {
	opacity: 0;
	pointer-events: none;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    /*display: none;*/
}

@media only screen and (min-width: 960px) {
	.video-wrapper {
		display: block;
	}
}

#blurred-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-position: center center;
    background-size: cover;
}

#copy,
#copy_blur {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid red;
    z-index: 100;
    display: none;
}

#copy {
    left: 10px;
}

#copy_blur {
    left: 220px;
}


/* demo 2 */

.demo-2 video {
	opacity: 0;
	pointer-events: none;
}

.demo-2 #container-cells {
	z-index: 1;
}

.demo-2 #video-mirror {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 0;
	margin-left: -480px;	
	filter: invert(100%);
	opacity:0.5;
}


/* demo 3 */


.content {
	padding: 3em 0;
	text-align: center;
}

.content p {
	position: absolute;
    bottom: 0.8em;
    display: block;
    width: 100%;
}
